:root {
  --primari-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --hero-text-color: #ffffff;
  --section-our-team-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
  --button-color: #e7e9fc;
  --cust-icon: #afb1b8;
  --hero-padding: 188px;
  --hero-padding-mob: 112px;

  --btn-padding: 88px;
  --section-padding: 120px;
  --btn-padding-botoom: 72px;
  --sections-title-margen: 72px;

  --title-margen: 32px;
  --title-margen-bottom: 8px;
  --card-set-gap: 24px;
  --footer-padding-work: 120px;
  --form-text-color: #8e8f99;
  --form-placeholder-color: rgba(46, 47, 66, 0.4);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --anime-fast: 250ms;

  --item: 4;
  --gap: 24px;

  --indent: 24px;
  --items: 4;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  margin: 0;
}
.all-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  color: currentColor;

  cursor: pointer;
}
svg {
  fill: currentColor;
}

body {
  color: var(--primari-text-color);
  background-color: var(--hero-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  /* Phone styles & > */

  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.wrap {
  display: flex;
  align-items: center;
}

/* Tablet styles & > */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Descktop styles */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**
  |============================
  | page-haeder
  |============================
*/

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.page-header {
  padding: 24px 0;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

/* menu */

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

/* Logo */

.logo {
  display: inline-block;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-studio {
  color: var(--title-text-color);
}

/* site navigation */

.site-nav {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}
.site-nav .link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  font-weight: 500;

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .site-nav .current {
    color: var(--accent-color);
  }
}

.header-line-link::after {
  content: "";

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.header-line-link.current::after,
.header-line-link:focus::after,
.header-line-link:hover::after {
  background-color: var(--hover-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--hover-color);
}
/* contacts */

.header-address {
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  .header-address {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-address {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--title-text-color);
  }
}
@media only screen and (min-width: 1158px) {
  .header-address {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px o;
  }
}

@media only screen and (min-width: 1158px) {
  .auth-nav {
    display: flex;
    gap: 40px;
  }

  .auth-nav .contacts {
    display: block;

    color: var(--primari-text-color);

    transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 1158px) {
  .auth-nav .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/**
  |============================
  |         hero setion 
  |============================
*/

/* 320 < Screen < 428  */

@media only screen and (max-width: 428px) {
  .hero {
    max-width: 1440px;
    min-height: 432px;
    margin: auto;
    padding-top: var(--hero-padding-mob);
    padding-bottom: var(--hero-padding-mob);

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bg-mob@1x.jpg);
    background-color: var(--title-text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bg-mob@2x.jpg);
      background-color: var(--title-text-color);
    }
  }
}

@media only screen and (min-width: 428px) and (max-width: 768px) {
  .hero {
    max-width: 1440px;
    min-height: 432px;
    margin: auto;
    padding-top: var(--hero-padding-mob);
    padding-bottom: var(--hero-padding-mob);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/dark-bg_table@1x.jpg);
    background-color: var(--title-text-color);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/dark-bg_table@2x.jpg);

      background-color: var(--title-text-color);
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 1440px;
    min-height: 436px;
    margin: auto;
    padding-top: var(--hero-padding-mob);
    padding-bottom: var(--hero-padding-mob);

    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--title-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_desck@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_desck@2x.jpg);

      background-color: var(--title-text-color);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    min-height: 600px;
    padding-top: var(--hero-padding);
    padding-bottom: var(--hero-padding);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;

  text-transform: capitalize;
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;

    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    max-width: 496px;
    margin: 0 auto 48px;

    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

.but {
  display: block;

  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.but:hover,
.but:focus {
  background-color: var(--hover-color);
}

/* section */
.section {
  padding: 120px 0 120px 0;
}

/* approaches */

@media only screen and (max-width: 1158px) {
  .section {
    padding: 96px 0;
  }
}

.section-projects {
  padding-top: 0;
}

.section-title {
  margin-bottom: var(--sections-title-margen);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* ---------------icon----------------- */
.box-icon {
  display: flex;
  margin-bottom: 8px;
  gap: 24px;
  height: 112px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f4f4fd;
}

@media only screen and (max-width: 1158px) {
  .box-icon {
    display: none;
  }
}

.approches-icon {
  display: block;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.feature-item {
  display: block;
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
@media only screen and (max-width: 768px) {
  .feature-item {
    --items: 1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .feature-item {
    --items: 2;
  }
}

/* section What are we doing */

@media only screen and (max-width: 1158px) {
  .section-projects {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .section-projects {
    display: block;
  }
}

.projects {
  display: flex;
  gap: 24px;
}

.section-title,
.title {
  color: var(--title-text-color);
}

.title {
  margin-bottom: var(--title-margen-bottom);

  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .title {
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* section our-team */
.our-team {
  background-color: var(--section-our-team-color);
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px 24px;
}
.card-item {
  display: block;

  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-box {
  padding: 32px 0;
}
.text {
  color: var(--primari-text-color);
}
.text-center {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.icon-list {
  display: block;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}
.card-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.card-icon-link:hover,
.card-icon-link:focus {
  background-color: #404bbf;
}

.icons {
  display: block;
  fill: #f4f4fd;
}

/* ------------Customers----------------- */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    margin: auto;
    gap: 72px 24px;
  }
}
.customers-item {
  --items: 2;

  width: 190px;
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-item {
    width: 168px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
  }
}

.icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--cust-icon);
  align-self: start;
  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  display: block;
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}

/* --------------------------footer------------- */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--title-text-color);
  color: var(--section-our-team-color);
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 72px 0px;
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    justify-content: left;
    width: 552px;
    padding: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-box {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-box {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-box {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-box {
    text-align: left;
  }
}

.footer-logo .logo-studio {
  color: var(--section-our-team-color);
}
.footer-logo {
  margin-bottom: 16px;
  margin-right: 0;
}

.content {
  max-width: 264px;
  text-align: left;
}

.social-madia {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .social-madia {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .social-madia {
    margin-right: 80px;
  }
}

.foter-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.media-list {
  display: flex;
  gap: 16px;
}
.media-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon {
  display: block;
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

/* -------------------form-footer--------------- */
.form-footer {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-footer {
    text-align: left;
  }
}
.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px 24px;
}

.footer-label {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-label {
    width: 264px;
  }
}

.footer-label-email {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  background-color: var(--title-text-color);
}

.footer-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--hero-text-color);

  background-color: var(--title-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  outline-offset: -1px;

  transition: transform var(--anime-fast) var(--cubic),
    outline-color var(--anime-fast) var(--cubic);
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input:focus + .footer-label-email,
.footer-input:not(:placeholder-shown) + .footer-label-email {
  transform: translateY(-130%);
}

.footer-input:focus {
  outline-color: var(--hero-text-color);
}

.subscribe-btn-box {
  width: 165px;
  height: 40px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border: none;
  border-radius: 4px;

  transition: background-color var(--anime-fast) var(--cubic);

  cursor: pointer;
}

.subscribe-btn-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover-color);
}

/**
  |============================
  |  portfolio 
  |============================
*/
.work {
  padding: 48px 0 96px 0;
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 64px 0 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .work {
    padding: 100px 0 120px 0;
  }
}

.work-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 16px 24px;
  justify-content: left;
}

@media only screen and (min-width: 768px) {
  .work-btn {
    margin-bottom: 64px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .work-btn {
    justify-content: center;
    margin-bottom: 72px;
  }
}

.btn {
  display: inline-block;
  min-width: auto;
  padding: 12px 24px;

  color: var(--accent-color);
  background-color: var(--footer-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--hero-text-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
@media only screen and (min-width: 768px) {
  .work-list {
    justify-content: left;
  }
}

.project-card {
  width: 396px;
}
@media only screen and (min-width: 768px) {
  .project-card {
    width: calc((100% - 24px) / 2);
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .project-card {
    width: calc((100% - 48px) / 3);
  }
}

.desc-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;

  letter-spacing: 0.02em;
}

/* ---------team-box------ */
.team-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  width: 100%;
  height: 100%;

  transition: transform var(--anime-fast);
}

.project-card:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.team-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;

  color: var(--footer-text-color);

  background-color: var(--accent-color);
}

.work-box {
  padding: 32px 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.prodject-link {
  display: block;
  transition: box-shadow var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.prodject-link:hover,
.prodject-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/**
  |============================
  |           modal
  |============================
*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(5px);

  transition: opacity 250ms ease, visibility 250ms ease,
    backdrop-filter 250ms ease;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  backdrop-filter: blur(0);

  transition-delay: 400ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  opacity: 1;
  overflow: auto;

  width: 392px;
  min-height: 584px;
  padding: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms ease-in 200ms, opacity 500ms ease-in 200ms;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-200%, -200%) rotate(360deg) scale(0.3);
}

.btn-modal-close {
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;

  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.btn-modal-close:hover,
.btn-modal-close:focus {
  color: var(--button-color);
  background: var(--hover-color);
}
.x-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
/* --------------------modal form------------------ */
.modal-form {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
.modal-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--title-text-color);
  text-align: center;
}

.modal-form-label {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  font-size: 12px;
  color: var(--form-text-color);
  line-height: 1.67;
  letter-spacing: 0.01em;
  transition: var(--anime-fast) var(--cubic);
}
.modal-label-field {
  position: relative;
  margin-bottom: 8px;
}

.user-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  fill: #2e2f42;

  pointer-events: none;
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anime-fast) var(--cubic),
    fill var(--anime-fast) var(--cubic);
}

.modal-form-input:focus + .user-icon {
  fill: var(--accent-color);
}
.modal-form-input:focus {
  outline-color: var(--accent-color);
}

.comment-text {
  display: block;
  margin-bottom: 16px;

  height: 120px;
  width: 100%;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;

  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anime-fast) var(--cubic);
}
.comment-text::placeholder {
  color: var(--form-placeholder-color);
  letter-spacing: 0.04em;
}
.comment-text:focus {
  outline-color: var(--accent-color);
}

/* -------------checked------------ */

.form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.agreement-icon-activ {
  opacity: 0;
  transition: opacity var(--anime-fast) var(--cubic);
}
.agreement-input:checked + .agreement-svg > .agreement-icon-activ {
  opacity: 1;
}

.agreement-icon-default {
  opacity: 1;
  transition: opacity var(--anime-fast) var(--cubic);
  pointer-events: none;
}
.agreement-input:checked + .agreement-svg > .agreement-icon-default {
  opacity: 0;
}

.policy {
  font-size: 12px;
  color: var(--form-text-color);
  letter-spacing: 0.04em;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.policy-link {
  color: var(--accent-color);
  transition: color var(--anime-fast) var(--cubic);
}

.policy-link:hover,
.policy-link:focus {
  color: var(--hover-color);
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  width: 169px;
  height: 54px;

  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);

  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--hover-color);
}
/* ---------mobile menu styles---------- */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--hero-text-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--title-text-color);

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.btn-mobile-close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;

  color: var(--title-text-color);

  background-color: var(--hero-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.mob-x-icon {
  display: block;
  width: 8px;
  height: 8px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
  stroke: var(--title-text-color);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-bottom: auto;
}
.mobile-menu-item {
  margin-bottom: 40px;
}

.mobile-menu li:last-child {
  margin: 0px;
}

.mobile-menu .link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
  text-decoration: none;
}

.mobile-menu .activ {
  color: var(--hover-color);
}

.mobile-contacts {
  margin-bottom: 48px;
}
.mob-tel-item {
  margin-bottom: 40px;
}

.mobile-tel {
  font-weight: 700;

  font-size: 36px;
  /*         end          */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}

.mobile-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media only screen and (min-width: 428px) {
  .mobile-socials {
    gap: 56px;
  }
}

.mobile-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--accent-color);
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon {
  display: block;
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
/* fgdfg */
