:root {
  --color-accent: #4d5ae5;
  --bg-accent: #4d5ae5;
  --accent-active: #404bbf;
  --secondary-text-color: #2e2f42;
  --secondary-bg-color: #2e2f42;
  --primary-text-color: #434455;
  --color-cloud: #f4f4fd;
  --bg-btn-portfolio: #f4f4fd;
  --bg-white: #ffffff;
  --text-white: #ffffff;
  --anime-fast: 250ms;
  --form-text-color: #8e8f99;
  --form-placeholder-color: rgba(46, 47, 66, 0.4);
  --cub: cubic-bezier(0.4, 0, 0.2, 1);
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --hero-text-color: #ffffff;
}

/*------------------------------------------ */

body {
  color: var(--primary-text-color);
  background-color: var(--bg-white);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------------Reset------------------- */
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  display: inline-block;
  color: var(--color-accent);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-list {
  /* display: block; */
  display: flex;
  gap: 40px;
}

.nav-element {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--secondary-text-color);
  font-weight: 500;

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.autoper {
  color: #404bbf;
}

.nav-element:hover,
.nav-element:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-active);
}

.nav-element::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -1px;

  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-element.current::after,
.nav-element:focus::after,
.nav-element:hover::after {
  opacity: 1;
  background-color: var(--accent-active);
}

.address {
  font-style: normal;

  display: flex;
  align-items: center;
  gap: 40px;
}

.contact {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);

  transition: color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  text-align: center;

  padding: 188px 0 188px 0;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--bg-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
}

.button {
  display: block;
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;

  color: var(--bg-white);
  font-family: inherit;
  background-color: var(--bg-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
  border: none;
  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-active);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
  width: 264px;
  height: 112px;

  background-color: #f4f4fd;
  border-radius: 4px;
}
.feature-icon {
}
.section-projects {
  padding-top: 0;
}
.projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.projects-item {
  /* outline: 1px solid red; */
}
.sub-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.section-team {
  background-color: var(--color-cloud);
}
.card-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: var(--bg-white);
}
.card-description {
  text-align: center;

  padding: 32px 0;
  /* outline: 1px solid green; */
}

.text {
  color: var(--primary-text-color);
}
.card-description-text {
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding: 0px;
}

.customers {
}
.title-section-customers {
  line-height: 1.1;
}

.list-customers {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.section-customer {
  line-height: 1.1;
}
.item-customer {
}

.link-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  gap: 24px;

  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customer:hover,
.link-customer:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
}

.customer-icon {
  /* display: block; */
  fill: currentColor;
}

.footer {
  padding: 100px 0;
  color: var(--color-cloud);
  background-color: var(--secondary-bg-color);
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}
.logo-footer {
  margin-right: 0;
}

.footer-studio {
  color: var(--color-cloud);
}

.footer-text {
  max-width: 264px;
}
.footer .logo {
  margin-bottom: 16px;
}

.footer-text-icon {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--text-white);
}
.footer-social {
  margin-right: 80px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: #ffffff;
  background: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}
/* -------------------form-footer--------------- */
.form-footer {
  /* margin-right: 0; */
}

.footer-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-label {
  position: relative;
}

.footer-label-email {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  background-color: var(--title-text-color);
}

.footer-input {
  display: block;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--hero-text-color);

  background-color: var(--title-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  outline-offset: -1px;

  transition: transform var(--anime-fast) var(--cubic),
    outline-color var(--anime-fast) var(--cubic);
}

.footer-input:focus + .footer-label-email,
.footer-input:not(:placeholder-shown) + .footer-label-email {
  transform: translateY(-130%);
}

.footer-input:focus {
  outline-color: var(--hero-text-color);
}

.subscribe-btn-box {
  width: 165px;
  height: 40px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border: none;
  border-radius: 4px;

  transition: background-color var(--anime-fast) var(--cubic);

  cursor: pointer;
}

.subscribe-btn-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accent-active);
}
/* footer end */

.work {
  padding-top: 96px;
  padding-bottom: 120px;
}

.work-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn {
  min-width: auto;
  padding: 12px 24px;

  color: var(--color-accent);
  background-color: var(--bg-btn-portfolio);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--bg-white);
  background-color: var(--accent-active);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-foto {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.work-item {
  /* display: block; */

  width: calc((100% - 48px) / 3);
}

.work-foto-link {
  display: block;
  transition: box-shadow var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.work-foto-link:hover,
.work-foto-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-box {
  position: relative;
  overflow: hidden;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  width: 100%;
  height: 100%;

  transition: transform var(--anime-fast);
} */

.overlay-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;

  color: var(--color-cloud);
  background-color: #4d5ae5;

  transform: translateY(100%);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-foto-link:hover .overlay-label {
  transform: translateY(0);
  opacity: 1;
}

.work-foto-link:focus .overlay-label {
  transform: translateY(0);
  opacity: 1;
}
.work-description {
  padding: 32px 16px 32px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

/**
  |============================
  | Modal styles
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  /* backdrop-filter: blur(5px); */

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  backdrop-filter: blur(0);

  transition-delay: 400ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  overflow: auto;

  width: 408px;
  min-height: 576px;
  padding: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-200%, -200%) rotate(60deg) scale(0.3);
}

.btn-modal-close {
  /* position: absolute; */
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: auto;
  margin-bottom: 24px;

  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: none;
}
.close-icon {
  display: block;
  width: 8px;
  height: 8px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .btn-modal-close:hover .child,
.btn-modal-close:focus .child {
  fill: #ffffff;
} */
/* --------------------form------------------ */
.form {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}
.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--secondary-text-color);
  text-align: center;
}

.modal-form-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--form-text-color);
  line-height: 1.67;
  letter-spacing: 0.01em;
  transition: var(--anime-fast) var(--cubic);
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.user-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  fill: #2e2f42;

  pointer-events: none;
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anime-fast) var(--cubic),
    fill var(--anime-fast) var(--cubic);
}
.modal-form-input:focus + .user-icon {
  fill: var(--color-accent);
}
.modal-form-input:focus {
  outline-color: var(--color-accent);
}

.comment-text {
  display: block;
  margin-bottom: 16px;

  height: 120px;
  width: 100%;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;

  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anime-fast) var(--cubic);
}
.comment-text::placeholder {
  color: var(--form-placeholder-color);
  letter-spacing: 0.04em;
}
.comment-text:focus {
  outline-color: var(--color-accent);
}
/* -------------active check------------ */

.forma-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.agreement-icon-activ {
  opacity: 0;
  transition: opacity var(--anime-fast) var(--cub);
}
.agreement-input:checked + .agreement-svg > .agreement-icon-activ {
  opacity: 1;
}

.agreement-icon-default {
  opacity: 1;
  transition: opacity var(--anime-fast) var(--cub);
  pointer-events: none;
}
.agreement-input:checked + .agreement-svg > .agreement-icon-default {
  opacity: 0;
}

.policy {
  font-size: 12px;
  color: var(--form-text-color);
  letter-spacing: 0.04em;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.policy-link {
  color: var(--color-accent);
  transition: color var(--anime-fast) var(--cub);
}

.policy-link:hover,
.policy-link:focus {
  color: var(--accent-active);
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  width: 169px;
  height: 54px;

  color: var(--text-white);
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;

  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--anime-fast) cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--accent-active);
}
